# Workspace (Defaults to /dev/shm in production)
WORKSPACE_DIR=/tmp

# Proxy Settings
PROXY_URL=http://username:password@proxy.example.com:8080
PROXY_ROTATION_STRATEGY=random

# GCP OAuth
GCP_CLIENT_ID=your_client_id_here
GCP_CLIENT_SECRET=your_client_secret_here
GCP_REFRESH_TOKEN=your_refresh_token_here
