# Workspace (Defaults to /dev/shm in production)
WORKSPACE_DIR=/tmp

# Proxy Settings
PROXY_URL=http://username:password@proxy.example.com:8080
PROXY_ROTATION_STRATEGY=random

# GCP OAuth Rotating Pool
# You can add as many projects as you want by incrementing the suffix (_1, _2, _3...)
GCP_CLIENT_ID_1=your_client_id_1
GCP_CLIENT_SECRET_1=your_client_secret_1
GCP_REFRESH_TOKEN_1=your_refresh_token_1

GCP_CLIENT_ID_2=your_client_id_2
GCP_CLIENT_SECRET_2=your_client_secret_2
GCP_REFRESH_TOKEN_2=your_refresh_token_2
